DATABASE_URL=""
REDIS_URL=redis://127.0.0.1:6379
PORT=3000
NODE_ENV=development
SECRET="supersecret"
ANTHROPIC_API_KEY=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL="onboarding@resend.dev"
FRONTEND_URL="http://localhost:5173"
